:root {
    --main-color:hsl(0, 0%, 8%);
    --panel-color: hsla(0, 0%, 12%, 0.9);
    --button-color: hsla(0, 0%, 20%, 0.9);
    --contrast-color: hsl(169, 94%, 57%);
    --text-color: hsl(0, 0%,100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    min-height: 100vh;
    font-family: 'Inter', serif ;
}


.main-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--panel-color);
    max-height: 27rem;
    padding: 2rem;
    border-radius: 0.5rem;
}

.profile-picture{
    padding: 0.5rem;
    border-radius: 50%;
    background-size: contain;  /* Scales the image to fit the container */
    background-repeat: no-repeat;
    background-image: url("./assets/images/profile_picture.jpg");
    height: 5rem;
    width: 5rem;
}


.profile-container{
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

.name-text{
    margin-bottom: 0;
    font-weight: 400;
}

.location-text{
    margin-top: 5px;
    font-weight: 600;
    color:var(--contrast-color);
}

.profile-text{
    font-weight: 400;
    font-size: 14px;
}

.media-links-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: fit-content;

}
.media-links-container__item{
    margin: 0.5rem;
    width: 20rem;
    height: 1rem;
    background: var(--button-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    text-decoration: none !important;
}
.media-links-container__item:hover{
    background: var(--contrast-color);
    color: var(--main-color);


}

